
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

.text-title {
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: forestgreen;
    text-align: center;
    transition: 0.8s;
} 

#img-random{
    width: 100%;
    border-radius: 10px;
}

.random-container{
    padding-top: 15px;
    width: 430px;
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    border: 3px solid forestgreen;
    margin-top: 10px;
    background: rgb(201, 201, 201);
    display: block;
}

#random-name{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: forestgreen;
    display: block;
    text-align: center;
    word-break: break-all;
}

.text-popular{
    margin-top: 20px;
    margin-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: forestgreen;


}

