
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

.text-title {
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: forestgreen;
    text-align: center;
    transition: 0.8s;
} 

#img-random{
    width: 100%;
    border-radius: 10px;
}

.img-seafood{
    width: 200px;
    border-radius: 30px;
    padding: 10px;
}

.random-container{
    padding-top: 15px;
    width: 430px;
    height: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    border: 3px solid forestgreen;
    margin-top: 10px;
    background: rgb(201, 201, 201);
    display: block;
}

#random-name{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: forestgreen;
    display: block;
    text-align: center;
    word-break: break-all;
}

.text-popular{
    margin-top: 20px;
    margin-left: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: forestgreen;
}

.seafood-container{   
    text-align: center;
}

.meal-details-content{
    margin: 2rem;
}
.meal-details-content p:not(.recipe-category){
    padding: 1rem 0;
}

.recipe-category{
    background: #fff;
    font-weight: 600;
    color: var(--tenne-tawny);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}
.recipe-category{
    background: #fff;
    font-weight: 600;
    color: var(--tenne-tawny);
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}

.recipe-title{
    letter-spacing: 1px;
    padding-bottom: 1rem;
}

.recipe-instruct{
    padding: 1rem 0;
}

.recipe-meal-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.recipe-link{
    margin: 1.4rem 0;
}
.recipe-link a{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.recipe-link a:hover{
    opacity: 0.8;
}

.showRecipe{
    display: block;
}